.menu {
  &.admin {
    // :root {
    //   --sm-size: 15px;
    //   --sm-md-size: 25px;
    //   --md-size: 35px;
    //   --lg-size: 60px;
    // }

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px;

    .text_container {
      display: flex;
      align-items: center;

      .text:first-child {
        margin-right: 20px;
      }
    }

    .subtitle {
      margin: 0;
      max-width: fit-content;
      margin-left: 30px;
    }
  }
}

.paneltitle {
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: $secondary-color;

  .subtitle {
    color: white;
  }
}

.panel {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
  margin: auto;
  margin-top: 100px;
  border-radius: 5px;
  overflow-x: auto;
  margin-bottom: 40px;
  gap: 15px;
  max-width: 1510px;
  padding: 0 10px;
  // background-color: $secondary-color;
}
