$grid-space: 25px;
$max-width: 100%;

.carrouselData {
  max-width: $max-width;
  background-color: white;
  border: 2px solid;
  border-radius: 5px;
}

.users_data .read, .carrouselData .read {
  overflow: auto;
  max-height: 500px;
}

.users_data {
  border: 2px solid;
  border-radius: 5px;
  height: fit-content;
}

.read {
  padding-left: 20px;
}

.header_grid, .body_grid {
  display: grid;
  grid-template-columns: 45px repeat(2, minmax(150px, 1fr)) 100px;
  gap: $grid-space;
  max-width: 100%;
  margin-bottom: $grid-space;
  align-items: center;

  p {
    padding: 15px;
    background-color: $primary-color;
    color: white;
  }
}

.body_grid {
  .button {
    margin: 0;
  }
}

.body_grid_users, .header_grid_users {
  grid-template-columns: 45px repeat(3, minmax(150px, 1fr)) 100px;
}

.create {
  display: none;
}

.button:disabled {
  opacity: 0.4;
}

.input:disabled {
  opacity: 0.7;
}
