.menu {
  z-index: 100;
  position: relative;
  padding: 37px 55px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.links_middle {
  flex: 1;
  padding: 0 38px;
  margin-left: 106px;
}

.latest_links {
  display: flex;
  align-items: center;
}

.m-hamburger {
  display: none;
}

.showableLinks {
  width: 320px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #5F37EF;
  box-shadow: 0 0 20px black;
  z-index: 100;
  opacity: 0;
  transition: 0.25s all;
  animation: 0.5s alternate forwards showable;

  .links_middle {
    margin-top: 80px;
    display: block;
    margin-left: 0;
    a {
      display: block;
      color: white;
      margin-bottom: 10px;
    }
  }

  .latest_links {
    margin-top: 80px;
    justify-content: center;
    align-items: start;
    padding: 0 38px;
    flex-direction: column;

    .link-reverse {
      display: flex;
      justify-content: center;
      align-items: start;

      p {
        margin-right: 12px;
      }
    }

    a, .button {
      display: block;
      color: white;
      margin-bottom: 10px;
      margin-left: 0;
    }

    svg path {
      fill: white;
    }
  }
}

@keyframes showable {
  0% {
    opacity: 0.2;
    transform: translateX(580px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
