.overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: $secondary-color;
  opacity: 0.9;
  z-index: 100;
  animation: 0.5s alternate forwards fadeIn;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 36px;
  width: 100%;
  max-width: 400px;
  border-radius: 25px;
  z-index: 100;

  .primary {
    margin-top: 20px;
  }

  li {
    list-style: none;
    margin-top: 15px;
    .input {
      width: 100%;
    }
    p {
      margin: 10px 0;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.8;
  }
}
