.button {
  border: none;
  outline: none;
  font-family: $primary-font;
  cursor: auto;
  font-weight: 500;
  font-size: var(--sm-size);
  transition: 0.2s all;

  &:hover {
    cursor: pointer;
  }

  &.primary {
    background-color: $primary-color;
    color: white;
  }

  &.secondary {
    background-color: $bg-primary-color;
    color: white;
  }

  &.ovalo {
    border-radius: 60px;
  }

  &.square {
    border-radius: 5px;
    padding: 13px 14px;
  }

  &.lg {
    padding: 25px 63px;
  }

  &.md {
    padding: 21px 26px;
  }

  &.sm {
    padding: 12px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
  }

  &.outline {
    background: none;
    border: 2px solid white;
  }

  &.cancel {
    background-color: $gray-color;
    padding: 18px 40px;
    color: white;
    margin-right: 15px;
  }

  &.submit {
    margin-top: 25px;
  }
}
