.subtitle {
  font-family: $secondary-font;
  font-size: var(--md-size);

  &.large {
    text-align: center;
    max-width: 457px;
    margin: auto;
    margin-top: -15px;
    width: 100%;
  }

  &.small {
    font-size: var(--sm-md-size);
  }

  &.black {
    color: $secondary-color;
  }

  &.ecomerce {
    margin-top: -185px;
    position: relative;
  }

  &.supported {
    max-width: 668px;
  }

  &.trusted {
    margin-top: 237px;
    max-width: 546px;
  }

  &.section {
    color: white;
    font-size: var(--sm-md-size);
    font-family: $tertiary-font;
  }
}
