$medium-pc-size: 1840px;
$medium-tablet-size: 1724px;
$sm-tablet-size: 1350px;
$large-phone-size: 1138px;
$phone-size: 848px;

@media screen and (max-width: $medium-pc-size) {
  :root {
    --sm-size: 15px;
    --sm-md-size: 25px;
    --md-size: 35px;
    --lg-size: 60px;
  }
}

@media screen and (max-width: $large-phone-size) {
  :root {
    --sm-size: 15px;
    --sm-md-size: 20px;
    --md-size: 25px;
    --lg-size: 45px;
  }

  .support .alert {
    justify-content: start;
  }

  .menu {
    display: none;

    &.admin {
      display: flex;
    }
  }

  .m-hamburger {
    display: flex;
    justify-content: space-between;
  }

  .login-pc {
    display: none;
  }

  .login-pc-overlay {
    display: none;
  }

  .login-mobile-overlay {
    display: block;
  }

  .login-mobile {
    display: block;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    border-radius: 0;
    min-width: 320px;

    .container_cancel {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
  }

  .hamburgerMenu {
    margin-left: 25px;
    border: none;
    outline: none;
    background: none;
    z-index: 101;
  }

  .whiteHm {
    background: white;
    padding: 5px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: fixed;
    right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: $medium-tablet-size) {
  .support .people_container img {
    width: 1005px;
    margin-bottom: 42px;
  }
}

@import './medias/header.module.scss';
@import './medias/main.module.scss';
@import './medias/skills.module.scss';
@import './medias/slider.module.scss';
@import './medias/aboutus.module.scss';
